/* hero.module.css */

.hero {
    background-color: #f5f5f5;
    padding: 50px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .heroContent {
    flex: 1;
    max-width: 600px;
  }
  
  .heroContent h1 {
    font-size: 36px;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  
  .heroContent p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .btn {
    display: inline-block;
    background-color: #8badd1;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #007bff;
  }
  
  .heroImage img {
    max-width: 100%;
    width: 700px;
    height: auto;
  }
  