.footer {
  background-color: #f5f5f5;
  text-align: center;
  padding: 10px 0;
  cursor: pointer;
}
.footer img{
  width: 10vw;
}
.social {
  margin: 11px 10px;
}

.social span {
  margin-right: 30px;
}

.social i {
  font-size: 24px;
  color: #333;
}