.App {
  /* text-align: center; */
  /* padding: 0 10px; */
  /* margin-top: 100px; */
  background-color: rgb(240, 239, 238);
}

.heading{
  color: #0b67bc;
  text-align: center;
  font-size: 2rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding-bottom: 10px;
}
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

form button[type="submit"] {
    background-color: #8badd1;
    text-transform: uppercase;
    color: #fff;
    width: 40vw;
    padding: 10px 20px;
    margin: auto;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #007bff;
}